<!DOCTYPE html>
<html>
  <%- include('../partials/header') %>
  <body>   
   <%- include('../partials/navbar') %>

  	<div class="site-margin">
      <h1>Upload a New Book</h1>
    </div>


<form role="form" action="/book/new" method="post" class="box login">
<p>Maybe have an image upload?</p>

  <br>

  <div>
    <input type="submit" class="btn btn-default" value="Upload" tabindex="1">
  </div>

</form>
    

  <!-- </div> -->
  <%- include('../partials/footer') %>
  </body>
</html>
