<!DOCTYPE html>
<html>
  <%- include('../partials/header') %>
  <body>   
   <%- include('../partials/navbar') %>

  	<div class="site-margin">
      <h1>Upload a New Book</h1>
    </div>


    <form role="form" action="/book/new" method="post" class="box login">        

      <div class="form-group">
        <input type="text" class="form-control" tabindex="1" name="title" title="Title" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" tabindex="1" name="author" title="Author" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" tabindex="1" name="noAvailable" title="Number Available" required>
      </div>

      <div class="form-group">
        <input type="checkbox" class="form-control" tabindex="1" name="isAvailable" title="Is This Book Available?" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" tabindex="1" name="picURL" title="Picture URL" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" tabindex="1" name="ISBN" title="ISBN" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" tabindex="1" name="publishDate" title="Publication Date" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" tabindex="1" name="language" title="Language" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" tabindex="1" name="edition" title="Edition" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" tabindex="1" name="loanPrice" title="Loan Price" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" tabindex="1" name="sellPrice" title="Sell Price" required>
      </div>

      <div class="form-group">
        <input type="checkbox" class="form-control" tabindex="1" name="isForLoan" title="Is This Book Loanable?" required>
      </div>

      <div class="form-group">
        <input type="checkbox" class="form-control" tabindex="1" name="isForSale" title="Is This Book For Sale?" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" tabindex="1" name="summary" title="Summary" required>
      </div>

      <div class="form-group">
          <label>Select your interests:</label> <br>
          <select class="selectpicker form-control" data-live-search="true" name="interests" title="Interests" value="<%= user.interests %>" multiple>
          <option>Mathematics</option>
          <option>Computer Science</option>
          <option>Biology</option>
          <option>Finance</option>
          <option>Chemistry</option>
          <option>Law</option>
          <option>Engineering</option>
          <option>Physics</option>
        </select>
      </div>

      <br>

      <div>
        <input type="submit" class="btn btn-default" value="Upload" tabindex="1">
      </div>

    </form>
    

  <!-- </div> -->
  <%- include('../partials/footer') %>
  </body>
</html>
