<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>       
  </head>
  <body>   
   <%- include('partials/navbar') %>
  	<div class="bs-component">
      <h1>Books</h1>
      <ul>
        <li>Book 1</li>
      </ul>
    </div>
     <%- include('partials/footer') %>
  </body>
</html>
