@import "bootstrap.flatly.min.css";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.jumbotron{
	text-align: center;
}
.stack-trace, .api-routes{
	text-align: left;
}
.build-version{
	text-align: right;
	padding-right: 25px;
}