@import "../../bower_components/bootswatch/flatly/bootstrap.min.css";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.jumbotron{
	text-align: center;
	padding: 85px;
}
.stack-trace, .api-routes{
	text-align: left;
	background-color: white;
}
.build-version{
	text-align: right;
	padding-right: 25px;
}
.admin-functions{
	padding-left: 185px;
	padding-top: 10px;
	padding-bottom: 80px;
}
.login{
	padding-top: 100px;
	padding-bottom: 250px;
	padding-left: 500px;
	padding-right: 500px;
	border: 1px;
}
.center-align{
	text-align: center;
}