<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div><p>&copy; 90210 Lawyer Stuff.</p><div class="build-version">Build version: <%= site.buildVersion%></div></div><!-- from a tutorial lol -->
</footer>