<!-- views/partials/footer.ejs -->
<footer class="footer">
    <p class="text-muted copyright">
    &copy; 90210 Lawyer Stuff.
    <span class="text-muted build-version">Build version: <%= site.buildVersion%></span>
    </p>
</footer> 