<head>
	<title><%= site.defaults.Title %> Login Form</title>
	<style>@import "../../bower_components/MDBootstrap/css/mdb.min.css";</style>
	<style>@import "../../bower_components/bootswatch/<%=site.defaults.DefaultTheme%>/bootstrap.min.css";</style>
    <link rel='stylesheet' href='/stylesheets/style.css' />

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/jquery-script.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script> 
</head>

