<!-- views/partials/navbar.ejs -->
<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <%if (user.isLoggedIn) {%> 
                <%if (user.isAdmin) {%>
                    <li><a class="btn btn-danger" href="/admin">Admin</a></li>
                <% } %>
            <% } %>            
            <li><a href="/explore">Explore</a></li>
            <%if (!user.isLoggedIn) {%> <li><a href="/login">Login</a></li> <% } %>
            <%if (user.isLoggedIn) {%> <li><a href="/logout">Logout</li> <% } %>
        </ul>
        <h3 class="text-muted"><a href="/"><%= site.defaults.DefaultBrandingText %></a></h3>
    </nav>
</div>