<!-- views/partials/navbar.ejs -->
<div class="header clearfix">
    <nav>
        <div class="pull-right">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/">Home</a></li>
                <%if (user.isLoggedIn) {%> 
                    <%if (user.isAdmin) {%>
                        <li><a class="btn-danger" href="/admin">Admin</a></li>
                    <% } %>
                <% } %>            
                <li><a href="/explore">Explore</a></li>
                <%if (!user.isLoggedIn) {%> <li><a href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a></li> <% } %>
                <%if (user.isLoggedIn) {%>  

                    <div class="dropdown profilePicture">
                          <div class="dropbtn" type="button" data-toggle="dropdown">
                            <img class="img-circle circle-avatar" src="<% if(user.picUrl) {%> <%= user.picUrl %> <% } else { %> <%= site.defaults.DefaultProfilePictureURL %> <% } %>" alt="profile picture"/>
                          </div>

                          <ul class="dropdown-menu dropdown-content account-menu">
                            <li><a href="/book/new"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Upload a Book</a></li>
                            <li><a href="/explore/mine"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> My Books</a></li>
                            <li><a href="/profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> My Profile</a></li>
                            <li><a href="/profile/settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></li>
                            <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
                          </ul>
                    </div>

                <% } %>

            </ul>
        </div>
            
        <h3 class="text-muted"><a href="/"><%= site.defaults.DefaultBrandingText %></a></h3>
    </nav>
</div>