<!DOCTYPE html>
<html>

<%- include('../partials/header') %>

<body>
    <%- include('../partials/navbar') %>
        <div class="bs-component">
            <div class="jumbotron">
                <h1>Administration</h1>
            </div>
        </div>
        <div class="admin-functions">
            <ul class="pull-left">
                <li><a href="/admin/system-information">View system information</a></li>
                <li><a href="/admin/system-defaults">Edit system defaults</a></li>
                <li><a href="/admin/resetdb">Reset Database With Test Data (Caution!!!)</a></li>
                <li><a href="/admin/initdb">Initialize Database With Test Data (Caution!!!)</a></li>
            </ul>
        </div>
        <%- include('../partials/footer') %>
</body>

</html>
