<!DOCTYPE html>
<html>
  <head>
    <title><%= site.defaults.Title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>       
  </head>
  <body>   
   <%- include('../partials/navbar') %>
  	<div class="bs-component">
      <div class="jumbotron">
        <h1>Administration</h1>  
      </div>      
    </div>
    <div class="admin-functions">
      <ul class="pull-left">
            <li><a href="/admin/initdb">Initialize Database With Test Data (Caution!!!)</a></li>
            <li><a href="/admin/system-defaults">Edit system defaults</a></li>
        </ul>
    </div>
     <%- include('../partials/footer') %>
  </body>
</html>
