<!DOCTYPE html>
<html>

<%- include('../partials/header') %>

<body>
    <%- include('../partials/navbar') %>
        <div class="bs-component">
            <h1 class="center-align">System Information</h1>

            <p><%= sysinfo %></p><br/>
            <a href="/admin/system-information/node-info">Node-Info</a>
        </div>
        <%- include('../partials/footer') %>
</body>
</html>
