<!DOCTYPE html>
<html>

<%- include('../partials/header') %>

<body>
    <%- include('../partials/navbar') %>
        <div class="bs-component">
        <%= site.util.inspect(messages) %>
        </div>
        <%- include('../partials/footer') %>
</body>
</html>
