<!DOCTYPE html>
<html>
  <%- include('../partials/header') %>
  <body>   
   <%- include('../partials/navbar') %>

  	<div class="site-margin">
      <h1>Messages</h1>
    </div>

    <div class="messages site-margin">

    </div>

  <%- include('../partials/footer') %>
  </body>
</html>
